[submodule "libraries/RDFauthor"]
	path = libraries/RDFauthor
	url = git@github.com:AKSW/RDFauthor.git
[submodule "libraries/Erfurt"]
	path = libraries/Erfurt
	url = git@github.com:AKSW/Erfurt.git
[submodule "extensions/formgenerator"]
	path = extensions/formgenerator
	url = git@github.com:AKSW/forms.ontowiki.git
[submodule "scripts/dowl"]
	path = scripts/dowl
	url = https://github.com/kenda/dowl.git
[submodule "extensions/site"]
	path = extensions/site
	url = git@github.com:AKSW/site.ontowiki.git
