* { margin: 0; padding: 0; }

body{
    /* bootstrap.min.css überschreiben */
    font-family: Helvetica, Arial, sans-serif !important;
    /* bootstrap.min.css überschreiben */
    font-size: 100% !important;
}

#header{
    background-color: #ff9966;
    height: 117px;
    padding-top: 10px;
    }

#header h1{
    display: inline;
    }

#menu{
    background-color: #66ccff;
    height: 50px;
    width: 100%;
    }

#menu ul{
    float:right;
    vertical-align: middle;
    }

#menu li{
    list-style-type: none;
    /* bootstrap.min.css überschreiben */
    line-height: 50px !important;
    float:left;
    }

#menu a{
    color: white;
    text-decoration: none;
    padding: 0px 10px;
}

/* bootstrap.min.css überschreiben */
.nav {
    margin: 0px !important;
}
/* bootstrap.min.css überschreiben */
.span3 {
    overflow: auto;
}

/* ############### Navi menu for schemata ############### */
#nav-schemata {
    height: 50px;
    width: 60%;
    margin: 10px auto;
}

#nav-schemata .nav {
    list-style: none;
}

#nav-schemata .nav li {
    float:left;
    color: #3A4956;
    padding: 10px 0px;
    width: 25%;
    text-align: center;
}
#nav-schemata .nav li a {
    color:inherit;
    text-decoration: none;
}
#nav-schemata .nav li:hover, #nav-schemata .nav li a:hover, #nav-schemata .nav li.active {
    color: white;
    background-color: #66CCFF;
}

.content{
    width:60%;
    margin:  50px auto 0px auto;
    color: #3A4956;
    }

.content h1{
    color: #ff9966;
    margin-bottom: 10px;
    }

#schemas{
    margin-left:40px;
    }

.wrapper{
    width:60%;
    margin: 0px auto;
    }

.lang{
    float: right;
    }

.aboutimg{
    float: right;
    max-width: 500px;
    padding: 10px;
    }

.about{
    text-align: justify;
    }
